<div class="m-technologystack-socket">
    <h1>socket展示页面</h1>

    <h3 style="padding: 10px;">动态布控界面</h3>
    <button class="u-button u-button-1" ng-click="technologyStackSocketCtrl.subscribeDC()">绑定动态布控报警推送</button>
    <button class="u-button u-button-1" ng-click="technologyStackSocketCtrl.unSubscribeDC()">解绑动态布控报警推送</button>
    <h3 style="padding: 10px;">智能检索界面</h3>
    <button class="u-button u-button-1" ng-click="technologyStackSocketCtrl.subscribeRetrieval()">绑定智能检索结果查询</button>
    <button class="u-button u-button-1" ng-click="technologyStackSocketCtrl.unSubscribeRetrieval()">解绑智能检索结果查询</button>

    <h3 style="padding: 10px;">轨迹分析界面</h3>
    <button class="u-button u-button-1" ng-click="technologyStackSocketCtrl.subscribeTrack()">绑定轨迹分析结果查询</button>
    <button class="u-button u-button-1" ng-click="technologyStackSocketCtrl.unSubscribeTrack()">解绑轨迹分析结果查询</button>

    <h3 style="padding: 10px;">人脸检索界面</h3>
    <button class="u-button u-button-1" ng-click="technologyStackSocketCtrl.subscribeFaceRetrieval()">绑定人脸检索结果查询</button>
    <button class="u-button u-button-1" ng-click="technologyStackSocketCtrl.unSubscribeFaceRetrieval()">解绑人脸检索结果查询</button>
</div>