<div class="u-baseconfig-popup m-device-popup" ng-controller="baseConfigRmpgatePopupLamp as rmpgatePopupLamp">
    <div class="f-cfb d-tree-content">

        <div class="box-cntr2 f-fr">
            <div class="box-head" translate="DP_CONFIG_COMMON_21"></div>
            <div class="box-bottom" >
                <util-tree 
                    tree-id="{{rmpgatePopupLamp.rightTreeParams.treeId}}" 
                    tree-datas="rmpgatePopupLamp.rightTreeParams.treeDatas" 
                    check-enable="{{rmpgatePopupLamp.rightTreeParams.checkEnable}}" 
                    single-select="{{rmpgatePopupLamp.rightTreeParams.isSingleSelect}}" 
                    is-simple-data="{{rmpgatePopupLamp.rightTreeParams.isSimpleData}}"
                    show-icon="{{rmpgatePopupLamp.rightTreeParams.isShowIcon}}" 
                    show-line="{{rmpgatePopupLamp.rightTreeParams.isShowLine}}" 
                    default-no-data-msg="{{rmpgatePopupLamp.rightTreeParams.defaultNoDataMsg}}" 
                    search-no-data-msg="{{rmpgatePopupLamp.rightTreeParams.searchNoDataMsg}}"
                    on-click="rmpgatePopupLamp.rightTreeParams.onClick(event, treeId, treeNode)" 
                    tree-id-key="ID" 
                    tree-pid-key="ParentID" 
                    tree-key-name="Name" 
                    edit-enable="{{rmpgatePopupLamp.rightTreeParams.editEnable}}" 
                    show-remove-btn="{{rmpgatePopupLamp.rightTreeParams.showRemoveBtn}}"
                    show-rename-btn="{{rmpgatePopupLamp.rightTreeParams.showRenameBtn}}" 
                    is-prev="true" is-next="true" is-inner="true" is-copy="false" is-move="true" 
                    default-expand-level="0"
                    default-select-tree-id="rmpgatePopupLamp.deviceData.JsonUserData.lampPost.ID"></util-tree>
            </div>
        </div>

    </div>
    <div class="u-border"></div>
    <div class="form f-cfb">
        <img src="../../../images/common/alerm-Icon.png"/>
        <label style="color: gray;font-weight: 400;position: relative;top: 1px;" translate="DP_CONFIG_COMMON_87"></label>
        <button class="u-button f-fr m-right15 u-button-blue-2" ng-click="rmpgatePopupLamp.cancel()" translate="DP_CONFIG_COMMON_19"></button>
        <button class="u-button f-fr m-right15 u-button-blue-1" ng-click="rmpgatePopupLamp.submit()" translate="DP_CONFIG_COMMON_05"></button>
    </div>
</div>