<div>
    <!--tsTreeSelectModalCtrl-->
    <p style="font-size:36px">测试 打开属性 弹窗 选择 回显 功能交互</p>
    <p>
        src\module\common\treeSelectModal
    </p>

    <a class="u-button u-button-blue-1"
       ng-click="tsTreeSelectModalCtrl.openPersonSelectModel()"
    >打开属性选择 窗口</a>

    <p style="font-size:16px">测试获取 所有 人脸库 （带虚拟节点）列表 数据 接口</p>

    <p style="font-size:16px">

    </p>
    <a class="u-button u-button-blue-1"
       ng-click="tsTreeSelectModalCtrl.getBusinessLibLibHasSelf()"
    >点击获取 人脸库 列表 </a>


</div>
