<ul class="m-totalTask-wrapper m-last-totalTask-wrapper" ng-controller="trendUserController as trendUserCtrl">
    <li class="wrap-content">
        <div class="wrap-cont-head f-cfb">
            <span class="cont-head-title" translate="FDS_05_04_02"></span>
            <span class="cont-head-detail"></span>
        </div>

        <div class="wrap-cont-table">
            <div class="cont-table-top f-cfb">
                <div class="f-fr f-cfb">

                    <div class="f-fl f-cfb m-right15">
                        <span class="f-fl m-right15" translate="FDS_05_11"></span>

                        <button class="u-button f-fl m-top5 m-right15"
                                ng-click="trendUserCtrl.changeTimeBtn('ALL')"
                                ng-class="{'u-button-blue-3':trendUserCtrl.duration !== 'ALL'}" translate="FDS_05_06">
                        </button>
                        <button class="u-button f-fl m-top5 m-right15"
                                ng-click="trendUserCtrl.changeTimeBtn('SEVEN_DAYS')"
                                ng-class="{'u-button-blue-3':trendUserCtrl.duration !== 'SEVEN_DAYS'}" translate="FDS_05_07">
                        </button>
                        <button class="u-button f-fl m-top5 m-right15"
                                ng-click="trendUserCtrl.changeTimeBtn('THIRY_DAYS')"
                                ng-class="{'u-button-blue-3':trendUserCtrl.duration !== 'THIRY_DAYS'}" translate="FDS_05_08">
                        </button>
                        <button class="u-button f-fl m-top5"
                                ng-click="trendUserCtrl.changeTimeBtn('SIX_MONTHS')"
                                ng-class="{'u-button-blue-3':trendUserCtrl.duration !== 'SIX_MONTHS'}" translate="FDS_05_09">
                        </button>
                    </div>

                    <div class="f-fl f-pr">
                        <input date-picker class="u-input cont-table-dateSelect" type="text" placeholder="{{'FDS_05_12'|translate}}"
                               ng-model="trendUserCtrl.startTime"
                               format="YYYY-MM-DD"
                               init-add-type="month"
                               init-add-val="-1"
                               is-clear="month">
                    </div>

                    <span class="f-fl m-right5 m-left5">-</span>

                    <div class="f-fl m-right15 f-pr">
                        <input date-picker class="u-input cont-table-dateSelect" type="text" placeholder="{{'FDS_05_12'|translate}}"
                               ng-model="trendUserCtrl.endTime"
                               okfun="trendUserCtrl.showCustomTime()"
                               choosefun="trendUserCtrl.showCustomTime()"
                               format="YYYY-MM-DD"
                               init-add-type="month"
                               init-add-val="0"
                               is-clear="false">
                    </div>

                </div>
            </div>
            <!--放e-chart图-->
            <div class="cont-table-bottom" id="user-3">
                <div class="m-echart-no-data" ng-show="trendUserCtrl.isNoData" translate="FDS_00_01_18"></div>
            </div>
        </div>
    </li>
</ul>
