#container-fluid003 {
  padding: 0 20px;
  .m-device-bar {
    padding-right: 10px;
    padding-top: 10px;
    .m-device-bar-title {
      background: #FFFFFF;
      height: 340px;
      position: relative;
      border-radius: 3px;
      .m-status-title {
        height: 40px;
        border-bottom: 1px solid #e4e4e4;
        line-height: 3;
        .m-border-name {
          height: 40px;
          border-bottom: 3px solid #2D87F9;
          display: inline-block;
          position: absolute;
          left: 20px;
          font-size: 14px;
          font-weight: 600;
        }
        .m-device-detail {
          position: absolute;
          right: 20px;
          font-size: 12px;
          font-weight: 100;
          color: #579ffa;
          text-decoration: underline;
          cursor: pointer;
        }
        .m-bar-tool {
          position: absolute;
          right: 20px;
          i {
            font-weight: 100;
            font-size: 12px;
          }
        }
      }
      .drop-list-com {
        position: absolute;
        right: 20px;
        .title {
          position: absolute;
          left: -60px;
          top: 20px;
          color: #666666;
        }
        .m-droplist-select {
          width: 176px;
          height: 30px;
          top: 10px;
          position: relative;
        }
      }
      
      .active {
        color: #2D87F9 !important;
      }

    }
    .m-device-height326 {
      height: 326px !important;
      #areaAlarm {
        height: 286px;
      }
      .areaAlarm {
        height: 236px;
        overflow-y: auto;
        margin: 50px 0;
        padding: 0 20px;
        .table th, td {
          text-align: center;
        }
      }
    }
    .m-device-height360 {
      height: 360px !important;
      #areaAlarmTrend {
        height: 320px;
      }
      .areaAlarmTrend {
        height: 270px;
        overflow-y: auto;
        margin: 50px 0;
        padding: 0 20px;
        .table th, td {
          text-align: center;
        }
      }
    }
    .m-device-height540 {
      height: 540px !important;
      #deviceAlarmStatistics, #dispatchedAboutAlarm {
        height: 500px;
      }
      .deviceAlarmStatistics, .dispatchedAboutAlarm {
        height: 450px;
        overflow-y: auto;
        margin: 50px 0;
        padding: 0 20px;
        .table th, td {
          text-align: center;
        }
      }
    }
  }
}





