<div class="tree-camera-popup g-pop f-cb"  ng-controller="treeCameraPopupController as treeCameraPopupCtl">
    <div class="camera-tree-area f-fl">
        <div class="tree-search f-pr">
            <input type="text" class="ipt" ng-model="treeCameraPopupCtl.searchStr"  ng-change="treeCameraPopupCtl.onChangeSearch()">
            <a href="javascript:" class="u-input-search tree-search-btn"></a>
        </div>
        <div class="tree-area-content" ng-scrollbars>
            <util-tree tree-id="{{treeCameraPopupCtl.treeParams.treeId}}"
                       tree-datas="treeCameraPopupCtl.treeParams.treeDatas"
                       check-enable="true"
                       on-check="treeCameraPopupCtl.treeParams.onCheck(event, treeId, treeNode)"
                       single-select="true"
                       edit-enable="false"
                       is-simple-data="true"
                       show-icon="true"
                       show-line="false"
                       default-no-data-msg=""
                       search-no-data-msg=""
                       tree-id-key="ID"
                       tree-pid-key="ParentID"
                       tree-key-name="Name"
                       default-expand-level="0"
                       tree-init-complete = "treeCameraPopupCtl.addCache()"
            ></util-tree>
        </div>
    </div>
    <div class="sel-area f-fl">
        <div class="area-header f-cb">
            <span>已选 <span>{{treeCameraPopupCtl.selNum}}</span></span>
            <span class="f-fr c-font-blue f-csp" ng-click="treeCameraPopupCtl.clearAll()">清除所有</span>
        </div>
        <div class="sel-content f-cb" ng-scrollbars>
            <div class="camera-item f-fl f-pr" ng-repeat="node in treeCameraPopupCtl.cacheSelCam">{{node.Name}}
                <i class="u-close f-abs f-csp" ng-click="treeCameraPopupCtl.removeChecked(node)"></i>
            </div>
        </div>
    </div>
    <div class="tree-camera-popup-action">
        <a href="javascript:" class="u-button u-button-blue-1  pop-btn-sty" ng-click="treeCameraPopupCtl.saveCamera()">
            保存
        </a>
        <a href="javascript:" class="u-button u-button-blue-2  pop-btn-sty" ng-click="treeCameraPopupCtl.cancelCamPop()">
            取消
        </a>

    </div>
</div>