<div class="search-device-con" ng-controller="positionSearchPageController as positionSearchPageCtrl" ng-if="quickSearchCtrl.positionResult.data.length&&!QuickCtrl.queryStatus">
    <ul class="media-list position" ng-scrollbars>
        <li class="media" ng-repeat="item in quickSearchCtrl.positionResult.data">
            <div class="icon-ground-margin">
                <span class="icon-margin">
                    <span class="operate">
                        <i class="icon_collect" ng-class="{'active': item.collectStatus}" ng-click="positionSearchPageCtrl.clickCollect(item)">收藏</i>
                    </span>
                </span>
            </div>
            <div class="icon-ground-margin">
                <span class="icon-margin">
                    <i class="icon_rankPosition">{{$index+1}}</i>
                     {{ item.name }}
                </span>
            </div>
            <div class="media-next" ng-click="positionSearchPageCtrl.positionPopup(item)">
                <div class="media-right">
                    <ul>
                        <li class="address">
                            <div class="name"></div>
                            <div class="text">{{item.address}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <div class="footer-page">
        <div class="footer-page-con">
            <div class="total">
                共<i class="m-mark-num"> {{quickSearchCtrl.positionResult.pageParams.totalCount}} </i>条记录
            </div>
            <util-paging
                    page-params="quickSearchCtrl.positionResult.pageParams"
                    prev-page="quickSearchCtrl.changePage(num)"
                    next-page="quickSearchCtrl.changePage(num)"
                    go-page="quickSearchCtrl.changePage(num)"
                    hide-size="quickSearchCtrl.hideSize"
                    hide-gopage="quickSearchCtrl.hideGopage"
            ></util-paging>
        </div>
    </div>
</div>
<div class="m-noMessage" ng-if="!quickSearchCtrl.positionResult.data.length&&!QuickCtrl.queryStatus">暂无数据</div>
<div class="loading" ng-if="QuickCtrl.queryStatus"></div>