<div class="analysis-layout face-analysis">
    <!--表单区域-->
    <div class="analysis-form active">
        <div class="analysis-content">
            <div class="analaysis-head">
                <div class="analaysis-head-title face-analysis-title">人脸分析</div>
                <div class="analaysis-back pdp-icon-back" ng-click="FaceAnalysisCtrl.goBack()">
                    <span>返回上级</span>
                </div>
            </div>
            <div class="face-track-form analaysis-body">
                <div class="analysis-form-con no-tabs" ng-scrollbars>
                    <div class="upload-img">
                        <div class="upload-img-layer">
                            <div class="image-layer" ng-if="!!FaceAnalysisCtrl.FaceAnalysisParams.imagePath">
                                <img ng-src="{{FaceAnalysisCtrl.FaceAnalysisParams.imagePath|imageUrlFilter}}" alt="">
                                <span class="delete" ng-click="FaceAnalysisCtrl.deleteImage()">
                                    <i class="pdp-icon-delete"></i>
                                </span>
                            </div>
                            <label class="image-layer" ng-show="!FaceAnalysisCtrl.FaceAnalysisParams.imagePath">
                                <div class="file-mask pdp-icon-camera-upload">上传图片</div>
                                <input type="file" ng-upload-change="FaceAnalysisCtrl.uploadImage($event)" class="file" />
                            </label>
                        </div>
                    </div>
                    <div class="analaysis-form-input">
                        <span class="analaysis-form-title">身份证</span>
                        <span class="input-layer">
                            <input ng-model="FaceAnalysisCtrl.FaceAnalysisParams.idCardNumber" type="text" placeholder="请输入身份证号">
                        </span>
                    </div>
                    <div class="analaysis-form-input">
                        <span class="analaysis-form-title">姓名</span>
                        <span class="input-layer">
                            <input ng-model="FaceAnalysisCtrl.FaceAnalysisParams.name" type="text" placeholder="请输入姓名">
                        </span>
                    </div>
                    <div class="analaysis-form-input">
                        <span class="analaysis-form-title"><i class="required">*</i>布控库</span>
                        <div class="chose-btn-layer">
                            <button ng-click="FaceAnalysisCtrl.selectFaceLib()">选择人像库</button>
                        </div>
                    </div>
                    <div class="analaysis-form-input threshold-progress">
                        <span class="analaysis-form-title">相似度</span>
                        <div class="analaysis-progress" ng-if="FaceAnalysisCtrl.FaceAnalysisParams.threshold">
                            <progress-drag
                                    now-value="FaceAnalysisCtrl.FaceAnalysisParams.threshold"
                                    min-value="FaceAnalysisCtrl.similarityMin"
                                    max-value="FaceAnalysisCtrl.similarityMax" lengd="200">
                            </progress-drag>
                        </div>
                    </div>
                    <div class="analaysis-form-input">
                        <span class="analaysis-form-title">性别</span>
                        <span class="tab-layer">
                            <span class="tab-item" ng-repeat="item in FaceAnalysisCtrl.SexDateList" ng-class="{'active':FaceAnalysisCtrl.SexDate.key===item.key}" ng-click="FaceAnalysisCtrl.SexDate = item">{{item.text}}</span>
                        </span>
                    </div>
                    <div class="analaysis-form-input">
                        <span class="analaysis-form-title">年龄</span>
                        <div class="input-layer-select">
                            <util-select
                                selected-empty-val="请选择年龄段"
                                select-data="FaceAnalysisCtrl.AgeDataList"
                                select-repeat-by-key="text"
                                select-click="FaceAnalysisCtrl.selectAge(selected)"
                                select-list-height="M"
                                select-list-diy-icon="false"
                                select-is-tree="false">
                            </util-select>
                        </div>
                    </div>
                    <div class="analaysis-form-input">
                        <span class="analaysis-form-title">民族</span>
                        <div class="input-layer-select">
                            <util-select
                                selected-empty-val="请选择民族"
                                select-data="FaceAnalysisCtrl.nationList"
                                select-repeat-by-key="text"
                                select-click="FaceAnalysisCtrl.nationClick(selected)"
                                select-list-height="M"
                                select-list-diy-icon="false"
                                select-is-tree="false">
                            </util-select>
                        </div>
                    </div>
                    <div class="analaysis-form-input">
                        <span class="analaysis-form-title">地址</span>
                        <span class="input-layer">
                            <input ng-model="FaceAnalysisCtrl.FaceAnalysisParams.Name" type="text" placeholder="请输入地址">
                        </span>
                    </div>
                    <div class="analaysis-form-input">
                        <span class="analaysis-form-title">检索事由</span>
                        <span class="input-layer">
                            <input ng-model="FaceAnalysisCtrl.FaceAnalysisParams.retrievalReason" type="text" placeholder="请输入检索事由">
                        </span>
                    </div>
                    <div class="searh-submit">
                        <button ng-click="FaceAnalysisCtrl.analysisQuery()">查询</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="analysis-more-res face-analysis-result" ng-class="{'active':FaceAnalysisCtrl.ResultActive}" ng-style="{width: FaceAnalysisCtrl.width + 'px'}">
        <div class="analysis-content">
            <div class="analaysis-body">
                <div class="content-layer">
                    <div class="head-layer">
                        <div class="result-rank">
                            <span>选择库</span>
                            <div class="select-libface">
                                <util-select selected-empty-val="全部人像库" select-data="FaceAnalysisCtrl.libNameList" select-repeat-by-key="value" select-click="FaceAnalysisCtrl.libNameSelect(selected)"
                                             select-list-height="M" select-list-diy-icon="false" select-is-tree="false">
                                </util-select>
                            </div>
                        </div>
                        <div class="result-operate">
                            <button class="export" ng-click="FaceAnalysisCtrl.closeResult()">导出</button>
                        </div>
                    </div>
                    <div class="before-layer">
                        <div class="analysis-more-result-group" ng-scrollbars>
                            <div class="result-item">
                                <div class="item-row-table active">
                                    <div class="table-item face"
                                         ng-repeat="item in FaceAnalysisCtrl.resultParams.data.Result"
                                         ng-click="FaceAnalysisCtrl.openDetailPopup(item,$index)">
                                        <div class="item-picture">
                                            <div class="picture-box" ng-click="FaceAnalysisCtrl.fullScreen($event, (item.PersonInfo.FacePicPath[0] | imageUrlFilter))">
                                                <img ng-src="{{item.PersonInfo.FacePicPath[0] | imageUrlFilter}}"  alt="">
                                            </div>
                                            <div class="item-similarity" ng-if="item.Score">{{item.Score|roundNumber}}%</div>
                                            <input class="item-checkbox" type="checkbox" />
                                            <div class="mask">
                                                <div class="fast-operate">
                                                    <i class="pdp-icon-analysis">
                                                        <ul class="analysis-ul">
                                                            <li class="analysis-li" ng-click="FaceAnalysisCtrl.clickAnalysis($event , item, FaceAnalysisCtrl.analysisGoTo.Track.key)">{{FaceAnalysisCtrl.analysisGoTo.Track.name}}</li>
                                                            <li class="analysis-li" ng-click="FaceAnalysisCtrl.clickAnalysis($event , item, FaceAnalysisCtrl.analysisGoTo.Accompanying.key)">{{FaceAnalysisCtrl.analysisGoTo.Accompanying.name}}</li>
                                                            <li class="analysis-li" ng-click="FaceAnalysisCtrl.clickAnalysis($event , item, FaceAnalysisCtrl.analysisGoTo.Frequency.key)">{{FaceAnalysisCtrl.analysisGoTo.Frequency.name}}</li>
                                                            <li class="analysis-li" ng-click="FaceAnalysisCtrl.clickAnalysis($event , item, FaceAnalysisCtrl.analysisGoTo.More.key)">{{FaceAnalysisCtrl.analysisGoTo.More.name}}</li>
                                                        </ul>
                                                    </i>
                                                    <i class="pdp-icon-dispatched" title="布控" ng-class="{'active': item.surveillanceStatus}" ng-click="FaceAnalysisCtrl.clickSurveillance($event , item)"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item-desc">
                                            <p>姓名：{{item.PersonInfo.Name}}</p>
                                            <p>所属库：{{item.LibName}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-bottom">
                        <div class="page-total">
                            共
                            <i>{{FaceAnalysisCtrl.resultParams.totalCount}}</i>
                            条记录
                        </div>
                        <util-paging
                                hide-size="true"
                                hide-gopage="true"
                                page-params="FaceAnalysisCtrl.resultParams"
                                prev-page="FaceAnalysisCtrl.changeResultPage(num)"
                                next-page="FaceAnalysisCtrl.changeResultPage(num)"
                                go-page="FaceAnalysisCtrl.changeResultPage(num)">
                        </util-paging>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>