<div class="u-baseconfig-popup m-device-popup" ng-controller="baseConfigDevicePopupWifi as devicePopupWifi">
    <div class="f-cfb d-tree-content"  style="padding: 10px 20px;">

        <div class="box-cntr">
            <div class="box-head">Wi-Fi</div>
            <div class="box-center">
                <input class="u-input box-center-input" ng-model="devicePopupWifi.searchLeftTreeInput" ng-keyup="devicePopupWifi.searchLeftTreeInputKeyUp($event,devicePopupWifi.searchLeftTreeInput)" type="text" placeholder="{{'DP_CONFIG_COMMON_28'|translate}}">
                <i class="u-input-search" ng-click="devicePopupWifi.searchLeftTree(devicePopupWifi.searchLeftTreeInput)"></i>
            </div>
            <div class="box-bottom" style="height:290px" ng-scrollbars>
                <util-tree tree-id="{{devicePopupWifi.leftTreeParams.treeId}}"
                           tree-datas="devicePopupWifi.leftTreeParams.treeDatas"
                           check-enable="{{devicePopupWifi.leftTreeParams.checkEnable}}"
                           single-select="{{devicePopupWifi.leftTreeParams.isSingleSelect}}"
                           is-simple-data="{{devicePopupWifi.leftTreeParams.isSimpleData}}"
                           show-icon="{{devicePopupWifi.leftTreeParams.isShowIcon}}"
                           show-line="{{devicePopupWifi.leftTreeParams.isShowLine}}"
                           default-no-data-msg="{{devicePopupWifi.leftTreeParams.defaultNoDataMsg}}"
                           search-no-data-msg="{{devicePopupWifi.leftTreeParams.searchNoDataMsg}}"
                           on-click="devicePopupWifi.leftTreeParams.onClick(event, treeId, treeNode)" 
                           tree-id-key="ID"
                           tree-pid-key="ParentID"
                           tree-key-name="Name"
                           edit-enable="{{devicePopupWifi.leftTreeParams.editEnable}}"
                           show-remove-btn="{{devicePopupWifi.leftTreeParams.showRemoveBtn}}"
                           show-rename-btn="{{devicePopupWifi.leftTreeParams.showRenameBtn}}"
                           add-diy-dom="devicePopupWifi.leftTreeParams.addDiyDom(treeId,treeNode)"
                           is-prev="false"
                           is-next="false"
                           is-inner="false"
                           is-copy="true"
                           is-move="false"
                           before-drag="devicePopupWifi.leftTreeParams.beforeDrag(treeId, treeNodes)"
                           before-drop="devicePopupWifi.leftTreeParams.beforeDrop(treeId, treeNodes, targetNode, moveType, isCopy)"
                           default-expand-level="0"></util-tree>
            </div>
        </div>

        <div class="center-btns">
            <div class="center-btn">
                <button class="center-btn-right u-button" ng-class="{'z-hide': devicePopupWifi.rightSelectTreeNodeId == null}" ng-disabled="devicePopupWifi.rightSelectTreeNodeId == null" ng-click="devicePopupWifi.moveLeftNode2RightNode()"></button>
            </div>
        </div>

        <div class="box-cntr f-fr">
            <div class="box-head">{{devicePopupWifi.type == 'lamp'? '立杆': '行政区域'}}</div>
            <div class="box-bottom" ng-scrollbars>
                <util-tree tree-id="{{devicePopupWifi.rightTreeParams.treeId}}"
                           tree-datas="devicePopupWifi.rightTreeParams.treeDatas"
                           check-enable="{{devicePopupWifi.rightTreeParams.checkEnable}}"
                           single-select="{{devicePopupWifi.rightTreeParams.isSingleSelect}}"
                           is-simple-data="{{devicePopupWifi.rightTreeParams.isSimpleData}}"
                           show-icon="{{devicePopupWifi.rightTreeParams.isShowIcon}}"
                           show-line="{{devicePopupWifi.rightTreeParams.isShowLine}}"
                           default-no-data-msg="{{devicePopupWifi.rightTreeParams.defaultNoDataMsg}}"
                           search-no-data-msg="{{devicePopupWifi.rightTreeParams.searchNoDataMsg}}"
                           on-click="devicePopupWifi.rightTreeParams.onClick(event, treeId, treeNode)"
                           tree-id-key="ID"
                           tree-pid-key="ParentID"
                           tree-key-name="Name"
                           edit-enable="{{devicePopupWifi.rightTreeParams.editEnable}}"
                           show-remove-btn="{{devicePopupWifi.rightTreeParams.showRemoveBtn}}"
                           show-rename-btn="{{devicePopupWifi.rightTreeParams.showRenameBtn}}"
                           is-prev="true"
                           is-next="true"
                           is-inner="true"
                           is-copy="false"
                           is-move="true"
                           before-drag="devicePopupWifi.rightTreeParams.beforeDrag(treeId, treeNodes)"
                           before-drop="devicePopupWifi.rightTreeParams.beforeDrop(treeId, treeNodes, targetNode, moveType, isCopy)"
                           default-expand-level="0"></util-tree>
            </div>
        </div>

    </div>
    <div class="form f-cfb" style="padding:10px 15px;border-top:1px solid #e4e4e4;margin-top:10px;">
        <img src="../../../images/common/alerm-Icon.png" />
        <label style="color: gray;font-weight: 400;position: relative;top: 1px;" translate="DP_CONFIG_COMMON_87"></label>
        <button class="u-button f-fr m-right15 u-button-blue-2" ng-click="devicePopupWifi.cancel()" translate="DP_CONFIG_COMMON_19"></button>
        <button class="u-button f-fr m-right15 u-button-blue-1" ng-click="devicePopupWifi.submit()" translate="DP_CONFIG_COMMON_05"></button>
    </div>
</div>