<!--bcWifiCtrl html-->
<div class="m-device f-cfb baseconfig-two-column">
    <div class="g-baseconfig-left">
        <span class="tree-search">
                <input type="text" class="u-input tree-search"
                       ng-model="bcWifiCtrl.areaTreeSearchInputStr"
                       placeholder="{{'DP_CONFIG_COMMON_28'|translate}}"
                       ng-keyup="bcWifiCtrl.areaTreeSearchInputKeyUp($event)"
                />
                <i class="u-input-search" ng-click="bcWifiCtrl.areaTreeSearchInput()"></i>
             </span>
        <div ng-show="bcWifiCtrl.areaTreeDatas.treeDatas.length > 0" class="m-device-tree-container">
            <util-tree tree-hide="bcWifiCtrl.areaTreeDatas.treeDatas.length == 0" tree-id="{{bcWifiCtrl.areaTreeDatas.treeId}}" tree-datas="bcWifiCtrl.areaTreeDatas.treeDatas" is-default-selected="true" tree-init-complete="bcWifiCtrl.areaTreeDatas.treeInitComplete(treeId)"
                check-enable="false" single-select="true" is-simple-data="true" show-icon="true" show-line="false" default-no-data-msg="bcWifiCtrl.areaTreeDatas.defaultNoDataMsg" search-no-data-msg="bcWifiCtrl.areaTreeDatas.searchNoDataMsg" on-click="bcWifiCtrl.areaTreeDatas.onClick(event, treeId, treeNode)"
                tree-id-key="ID" tree-pid-key="ParentID" tree-key-name="Name" default-select-tree-id="bcWifiCtrl.areaTreeDatas.defaultSelectTreeId" default-expand-level="0"></util-tree>
        </div>
        <div class="u-table-no-data" ng-show="bcWifiCtrl.areaTreeDatas.finishedNoData" translate="DP_CONFIG_COMMON_16"></div>
    </div>

    <div class="g-baseconfig-right">
        <div class="right-content">

            <div class="m-baseconfig-topFixed device-topFixed">

                <ol class="m-route f-cfb">
                    <li translate="DP_CONFIG_COMMON_01"></li>
                    <li class="route-separate">/</li>
                    <li translate="DP_CONFIG_WIFI_01"></li>
                </ol>
                <div class="m-device-menu">
                    <div class="taskBtn f-cfb">
                        <div>
                            <span class="device-label" translate="DP_CONFIG_COMMON_03"></span>
                            <input type="text" class="u-input device-input" ng-model="bcWifiCtrl.SearchParams.Name" />
                            <button class=" u-button " ng-click="bcWifiCtrl.search()" translate="DP_CONFIG_COMMON_24"></button>
                        </div>
                    </div>
                </div>
                <div class="m-device-info ">
                    <div class="info-top f-cfb ">
                        <div>
                            <button class="u-button " ng-click="bcWifiCtrl.configDevices( 'area') " translate="DP_CONFIG_COMMON_08"></button>
                            <button class="u-button " ng-click="bcWifiCtrl.configDevices( 'lamp') " translate="DP_CONFIG_COMMON_07"></button>
                        </div>
                    </div>
                </div>
                <div class="m-task-search-top f-cfb ">

                </div>
            </div>

            <div class="m-baseconfig-centerFixed device-centerFixed ">
                <util-table-head table-headers="bcWifiCtrl.tHeadListWifi " table-has-check='true' class="table-content " table-sort-fun="bcWifiCtrl.sortByField(index,fieldName,sortStatus) " table-after-check="bcWifiCtrl.afterChangeCheck(checkList,isCheckAll) ">

                    <util-table-tr ng-repeat="(index,tbody_data) in bcWifiCtrl.tBodyList ">
                        <util-table-tr-td>{{tbody_data.Name}}</util-table-tr-td>
                        <util-table-tr-td>{{tbody_data.Code || ('未知'|translate)}}</util-table-tr-td>
                        <util-table-tr-td>{{tbody_data.JsonUserData.Area.Name || ('未知'|translate)}}</util-table-tr-td>
                        <!--<util-table-tr-td>{{tbody_data.IodServerID || ('未知'|translate)}}</util-table-tr-td>-->
                        <util-table-tr-td>{{tbody_data.JsonUserData.Point.Lon|number:6 || ('未知'|translate)}}</util-table-tr-td>
                        <util-table-tr-td>{{tbody_data.JsonUserData.Point.Lat|number:6 || ('未知'|translate)}}</util-table-tr-td>

                        <util-table-tr-td>
                            <div class="table-icon-cntr f-cfb ">
                                <i class="icon-btn i-edit z-gray f-csp " title="{{'DP_CONFIG_COMMON_77'|translate}} " ng-click="bcWifiCtrl.editAreaTd(tbody_data) "></i>
                                <i class="icon-btn i-lamp z-gray f-csp" title="{{'DP_CONFIG_COMMON_83'|translate}}" ng-click="bcWifiCtrl.setLamp(tbody_data)"></i>
                            </div>
                        </util-table-tr-td>
                    </util-table-tr>

                    <div class="u-table-no-data " ng-show="bcWifiCtrl.tableNoData " translate="DP_CONFIG_COMMON_16 ">

                    </div>

                </util-table-head>
            </div>

            <div class="m-baseconfig-bottomFixed ">
                <util-paging page-params="bcWifiCtrl.pageParams " prev-page="bcWifiCtrl.changePage(num) " next-page="bcWifiCtrl.changePage(num) " go-page="bcWifiCtrl.changePage(num) " page-size="bcWifiCtrl.changePageSize(num) "></util-paging>
            </div>
        </div>
    </div>

</div>